<div class="container">
    <div class="row">
        <div class="col-5 mx-auto">
            <h3 class="bg-primary text-white p3">
                {{getName()}}' Listesi
            </h3>
        </div>

        <div class="input-group mb-3">
            <input type="text" class="form-control"
            [(ngModel)]="inputText"
            (keyup.enter)="addItem();">
          <button
          [class]="getBtnClasses()"
          class="btn"
          (click)="addItem();">Add</button>
         
          
        </div>

        <div class=" form-check mb-3">
            <input type="checkbox" [(ngModel)]="displayAll" class="form-check-input" name="" id="displayAll">
            <label for="displayAll" class="form-check-label">Hepsini Göster</label>
        </div>

        <div class=" my-2">
            {{displayCount()}} görev tamamlandı
            
            {{falseCount()}} görev tamamlanmadı
        </div>

        <div class="alert-alert-warning" *ngIf="getItems().length==0 else itemsTable"></div>


        <ng-template #itemsTable>
            <table class="table table-bordered" *ngIf="getItems().length>0">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>Description</th>
                        <th>action</th>
                        <th>true or false</th>
                        <th>images</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of getItems(); let i=index;" [class.bg-primary]="item.action" [class.bg-warning]="!item.action">
                        <td>{{i+1}}</td>
                        <td>{{item.description}}</td>
                        <td>{{item.action}}</td>
                        <td>
                            <input type="checkbox" [(ngModel)]="item.action" name="">
                        </td>
                       <td>
                        <img src="assets/breakfast.jpg" *ngIf="i+1==i">
                        <img src="assets/sports.jpg"    *ngIf="i+1==2" >
                        <img src="assets/shopping.jpg"  *ngIf="i+1==3">
                       </td>
                    </tr> 
            
                </tbody>
            </table>
        </ng-template>
        
    </div>
</div>